.git
.github
.gitignore
.gitattributes
.dockerignore
.DS_Store
__pycache__
*.pyc
.venv
.pytest_cache
.ruff_cache
tests
pyproject.toml
requirements-dev.txt
docker-compose.yml
docker-compose.example.yml
README.md
*.db
*.sqlite
